:root {
  
  --addcross-color1: white;
  --addcross-color2: white;
  --addcross-color3: white;
  --addcross-color4: white;
  --addcross-color5: white;

  --cercle-background1: linear-gradient(
    130.53deg,
    #404040 17.47%,
    #404040 27.71%,
    #b0b0b0 27.72%,
    #b0b0b0 36.75%,
    #404040 36.76%,
    #404040 45.49%,
    #b0b0b0 45.5%,
    #b0b0b0 54.23%,
    #404040 54.24%,
    #404040 63.27%,
    #b0b0b0 63.27%,
    #b0b0b0 71.71%,
    #404040 71.71%
  );;
  --cercle-background2: linear-gradient(
    130.53deg,
    #404040 17.47%,
    #404040 27.71%,
    #b0b0b0 27.72%,
    #b0b0b0 36.75%,
    #404040 36.76%,
    #404040 45.49%,
    #b0b0b0 45.5%,
    #b0b0b0 54.23%,
    #404040 54.24%,
    #404040 63.27%,
    #b0b0b0 63.27%,
    #b0b0b0 71.71%,
    #404040 71.71%
  );;
  --cercle-background3: linear-gradient(
    130.53deg,
    #404040 17.47%,
    #404040 27.71%,
    #b0b0b0 27.72%,
    #b0b0b0 36.75%,
    #404040 36.76%,
    #404040 45.49%,
    #b0b0b0 45.5%,
    #b0b0b0 54.23%,
    #404040 54.24%,
    #404040 63.27%,
    #b0b0b0 63.27%,
    #b0b0b0 71.71%,
    #404040 71.71%
  );;
  --cercle-background4: linear-gradient(
    130.53deg,
    #404040 17.47%,
    #404040 27.71%,
    #b0b0b0 27.72%,
    #b0b0b0 36.75%,
    #404040 36.76%,
    #404040 45.49%,
    #b0b0b0 45.5%,
    #b0b0b0 54.23%,
    #404040 54.24%,
    #404040 63.27%,
    #b0b0b0 63.27%,
    #b0b0b0 71.71%,
    #404040 71.71%
  );;
  --cercle-background5: linear-gradient(
    130.53deg,
    #404040 17.47%,
    #404040 27.71%,
    #b0b0b0 27.72%,
    #b0b0b0 36.75%,
    #404040 36.76%,
    #404040 45.49%,
    #b0b0b0 45.5%,
    #b0b0b0 54.23%,
    #404040 54.24%,
    #404040 63.27%,
    #b0b0b0 63.27%,
    #b0b0b0 71.71%,
    #404040 71.71%
  );;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.787);
  padding-left: 15px;
}

.App {
  text-align: center;
  height: max-content;
  background-color: rgba(44, 44, 44, 1);
  color: white;
  height: 100vh;
}

.navText {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  padding-top: 17px;
  margin-bottom: 42px;
}

.navTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  padding-left: 30px;
  margin-top: -4px;
}

.rawCercleContainer {
  display: flex;
  justify-content: space-evenly;
}

.rawCercle {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  left: 245px;
  border-radius: 50px;
  border: 3px solid #ffffff;
  font-size: 50px;
  line-height: 0;
}

.rawCercle:focus {
  width: 60px;
  height: 60px;
  left: 245px;
  border-radius: 50px;
  margin-top: -5px;
}

.rawCercle1 {
  background: var(--cercle-background1);
  color: var(--addcross-color1);
}
.rawCercle2 {
  background: var(--cercle-background2);
  color: var(--addcross-color2);
}
.rawCercle3 {
  background: var(--cercle-background3);
  color: var(--addcross-color3);
}
.rawCercle4 {
  background: var(--cercle-background4);
  color: var(--addcross-color4);
}
.rawCercle5 {
  background: var(--cercle-background5);
  color: var(--addcross-color5);
}

.compactPicker {
  margin-top: 26px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 5px 20px;
}

.inputTitle1 {
  margin-top: 15px;
  margin-bottom: 1px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.inputTitle2 {
  margin-bottom: 1px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.saveBar {
  display: flex;
  margin-top: 5px;
}

.inputText {
  width: 70%;
  border-radius: 9px;
  border: solid 4px white;
  background-color: transparent;
  height: 30px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 100;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.787);
  padding-left: 15px;
}

.inputSubmit {
  border-radius: 9px;
  height: 42px;
  width: 67px;
  background-color: white;
  font-size: 42px;
  line-height: 0;
  margin: auto;
  
}

.newPalletesContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 20px;
  margin-top: 15px;
  
}

.CercleContainer {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  border-radius: 10px;
  margin: 0 20px;
  height: 60px;
  
}

.cercle {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  left: 245px;
  border-radius: 50px;
  border: 3px solid #ffffff;
  margin: auto;
}

.cercle1 {
  background: var(--cercle-background1);
}
.cercle2 {
  background: var(--cercle-background2);
}
.cercle3 {
  background: var(--cercle-background3);
}
.cercle4 {
  background: var(--cercle-background4);
}
.cercle5 {
  background: var(--cercle-background5);
}

.inputSubTitle {
  display: flex;
  justify-content:space-between;
  padding: 0 15px;
}

.addedSubtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.removeIcon {
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 800px) {

  .navText {
    justify-content: center;
  }

  .navTitle {
    font-size: 36px;
    line-height: 54px;
  }

  .rawCercleContainer {
    justify-content: space-around;
    width: 65%;
    margin: auto;
  }

  .rawCercle {
    width: 73.33px;
    height: 73.33px;
  }

  .rawCercle:focus {
    width: 88px;
    height: 88px;
  }

  .compactPicker {
    display: flex;
    margin-top: 90px;
  }

  .inputContainer {
    display:inline;
    flex-direction:column;
    text-align: left;
    padding: 5px 20px;
  }





}
